//colores de fondos
$coloresFondos:rgba(11, 11, 230, 0.975) rgba(251, 251, 251, 0.988) black;
//color del encabezado
$colorEncabezado: antiquewhite;
//colores de textos
$colorTexto: darkblue black;
//colores de redes
$ColorIconos:#E1306C #25D366;
