@use "../variables"as v;
@use "sass:list";

/* Sector de Pie de Pagina */
.footer {
  background-color: list.nth(v.$coloresfondos, 3);
  color: list.nth(v.$colortexto, 3);
  padding: 40px 20px;
  }
  .social-icons {
  display: flex;
  justify-content: center;
  gap:15px;
  flex-wrap: wrap;
  }
  .social-icons a {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 8px;
  font-weight: 500;
  text-decoration:none;
  transition: opacity 0.3s;
  }
  .social-icons a:hover {
    opacity: 0.7;
  }
  .instagram{
    color: list.nth(v.$Coloriconos, 1);
  }
  .whatsapp{
    color: list.nth(v.$Coloriconos, 2);
  }