@use "../variables"as v;
@use "sass:list";
@use "../extends"as ext;
@use "../mixins"as mix;

header{
background-color: list.nth(v.$coloresfondos, 1);
@extend %flexrowbetween;
align-items: center;
padding: 0 40px;
width: 100%;
}
.fondoNav{
background-color: list.nth(v.$coloresfondos, 1);
}
.colorEnlace{
color: v.$colorencabezado;
}
p{
font-size:large;
padding: 15px 50px;
}
nav {
@extend %flexrow;    
list-style: none;
}
nav ul li{
margin-left: 20px;
font-size:large;
}
