@use "../variables"as v;
@use "sass:list";
@use "../mixins"as mix;
@use "../extends"as ext;

main{
background: RGBA(11, 11, 230, 0.975);
background: linear-gradient(180deg,rgba(11, 11, 230, 1) 0%, rgba(251, 251, 251, 1) 4%, rgba(251, 251, 251, 1) 45%, rgba(251, 251, 251, 1) 98%, rgba(0, 0, 0, 1) 99%);
}
h1{ 
color: v.$colorencabezado;
@include mix.textoh1;
text-transform:uppercase;
text-decoration-line: none;
margin: 2%;
}
h2{
@include mix.textoh2;
text-align-last: center;
text-decoration: underline;
color: list.nth(v.$colortexto, 2);
padding: 40px 30px;
}
h3{
font-size: x-large;
}
 /* sector de Inicio*/
.quienesgym{
@extend %flexrowbetween;
padding: 30px 40px;
}
.textointro{
@include mix.textointro;
align-items:center;
padding: 30px 50px;
}
.mision{ 
    @extend %flexrowbetween;
    align-items: center;
    padding: 30px 50px;
}
.textomyv{
    font-size: 180%;
}
.vision{
   @extend %flexreversebetween;
    align-items: center;
    padding: 10px 60px;
    padding-bottom: 40px;
}
.tenemosclaro{
text-align: center;
font-size: xx-large;
padding-top: 60px;
text-decoration: underline;
}
/*sector de servicios */
.textoservicio{
    padding: 20px 100px;
    @include mix.textoservi;
}
.servigym1{
@extend %flexrowbetween;
justify-items: center;
text-align: center;
padding: 70px;
}
.servigym2{
@extend %flexrowbetween;
justify-items: center;
text-align: center;
padding: 70px;
}
/*sector de El Gimnasio*/
.gymtexto{
color: list.nth(v.$colortexto, 1);
font-family:Arial, Helvetica, sans-serif;
padding: 30px 60px;
}
.textoelgym{
padding: 30px 100px;
font-size: x-large;
}
.carousel {
max-width: 100%;
height: 100%;
}
.carousel img {
height: 550px;
object-fit: cover;
}
.carrusel-col {
 padding: 10px 10px;
}
.carruseles{
 padding: 25px;
 overflow-x: hidden;
}
.playlist{
width: 70%;
margin-left: 15%;
padding-top: 40px;
}
/* Sector de Horarios*/
.tituhorarios{
text-decoration: none;
padding: 40px 100px;
}
.horarios{
padding: 15px 30px;
}
.carruselhorarios{
padding: 25px;
}
/* Sector de Contacto */
.infocontacto{
text-align-last:left;
color: list.nth(v.$colortexto, 1);
padding: 40px;
}
.formulariocontacto{
 padding: 30px 30px;
 margin:auto;
 width: 70%;
 justify-content: center;
 border-radius: 10px;
 background-color: darkgray;
}
.btn{
    background-color:rgba(11, 11, 230, 0.975);
    color:aliceblue;
}
.textformulario{
@include mix.texformulario;
}
section iframe{
width: 95%;
margin-left: 30px;
padding: 20px;
align-content: center;
}


