/* Adaptacion Responsive */
@media(max-width:650px){
.quienesgym{
    flex-direction: column;
}
header{
    flex-direction: column;
}
nav ul{
    flex-direction: column;
}
.textointro{
   font-size:100%;
   padding: 20px;

}
.tenemosclaro{
    display: flex;
    flex-direction: column;
}
h2{
    font-size:100%;
}
.textoelgym{
    font-size: 100%;
    padding: 30px 30px;
}
.gymtexto{
    padding: 20px;
}
.carruseles{
    overflow-x: auto;
    padding: 20px;
}
.textoservicio{
    font-size: 90%;  
}
.card-body{
    width: 100%;
}
.tituhorarios{
    font-size: 90%;
}
.fondocards {
    padding: 20px;
    background-position: center;
  }
.card {
    width: 95%;
    margin: 2px;
}
.servigym1{
flex-direction: column;
padding: 7px;

}
.servigym2{
flex-direction: column;
padding: 7px;
padding-bottom: 30px;
}
.playlist{
    flex-direction: column;
    width: 70%;
}
.infocontacto{
    flex-direction: column;
    text-align-last: center;
}
section iframe{
    max-width: 100%;
}
footer{
    flex-direction: column;
}
}